// Variables for Background, Border, Text and Default Colors

$bg-c: hsl(185, 75%, 39%); // Background color
$t-c: hsl(229, 23%, 23%); // Text color
$br-c: hsl(227, 10%, 46%); // Border color
$d-c: hsl(0, 0, 59%); // Default color