@import "font";
@import "var";
@import "global";
@import "card";

// ----------------------------------------------------------------

body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-color: $bg-c;
    font-family: $d-ff;
}